.v-card {
  background: none;

  .v-card__text {
    text-align: justify;
  }
}

img {
  width: 30rem !important;
}

@media (max-width: 1024px) {
  .testimonials-layout > div {
    margin-left: 0;
    padding: 2.5rem 0;
  }

  img {
    margin-left: 0;
    width: 100%;
    margin-bottom: 1rem;
  }
}
