.contact-info-list {
  font-size: 1.4em;
  color: $color4;
  padding-top: 0;
  // margin-bottom: 3rem;

  .v-icon {
    vertical-align: top;
    border: 2px solid $color4;
    color: $color4;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    width: 3.3rem !important;
  }

  .v-list__tile__content {
    overflow: visible;

    .v-list__tile__title {
      height: auto;
      white-space: normal;
      line-height: 1.5rem;
      font-size: 1.5rem;
      overflow: visible;

      &.access_time {
        line-height: 2.2rem;
        margin-top: 4rem;
      }
    }
  }
}

.message-form {
  margin-top: -9rem;
}

@media (max-width: 1024px) {
  .contact-info {
    margin-bottom: 3rem;
  }

  .message-form {
    margin: 6rem 0 2rem 0;
  }
}

@media only screen and (max-width: 425px) {
  .v-list__tile__title  {
    font-size: 1.3rem !important;
  }
}
