.contact-info {
  font-size: 1.4em;
  color: $color4;

  > div {
    margin-bottom: .7em;

    &.hours > span {
      line-height: 1.5em;
    }

    > span {
      display: inline-block;
      line-height: 2.2em;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
      width: 80%;
    }

    .v-icon {
      vertical-align: top;
      border: 2px solid $color4;
      color: $color4;
      border-radius: 5px;
      padding: 8px;
      text-align: center;
      width: 3.3rem !important;
      margin-right: .7em;
    }
  }
}

.message-form {
  margin-top: -9rem;
}

@media (max-width: 1024px) {
  .contact-info {
    margin-bottom: 3rem;
  }

  .message-form {
    margin: 0 0 2rem 0;
  }
}

// @media only screen and (min-width: 960px) and (max-width: 1150px) {
//   .contact-info > div.address > span {
//     line-height: 1.2em !important;
//   }
// }

// @media only screen and (max-width: 499px) {
//   .contact-info > div.address > span {
//     line-height: 1.2em !important;
//   }
// }
