.container {
  max-width: 100%;
}

.cards-content {
  margin-top: -5rem;
  padding: 0 8em;
}

/* media queries */
@media (max-width: 959px) {
  .cards-content {
    padding: 0 2rem;

    .pr-2, .pl-2 {
      padding: 0 !important;
    }
  }

  // .container {
  //   padding: 0 0 1em 0 !important;
  // }

  // .last-card {
  //   padding-bottom: 0 !important;
  // }
}

// @media (max-width: 599px) {
//   .cards-content {
//     padding-top: 26em;
//   }
// }
