.cards-container {
  padding-top: 0 !important;
}

.v-card {
  width: 100%;
  height: 30em !important;
  margin-top: 0 !important;
  position: relative;
  overflow: hidden;
}

.v-card:hover .v-card__title {
  top: 0;
  transition: top 1s;
  background: $color2;
}

.v-card__title {
  top: 15rem;
  position: absolute;
  width: 100%;
  transition: top 1s;
  background: $color2;
}

.card__media {
  height: 200px !important;
}

.v-card__actions {
  background: white;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.card-content {
  height: 22rem;

  > p {
    color: $color7;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.v-btn {
  margin: 0 auto;
  margin-bottom: 1.8em;
  margin-top: 1em;
}

@media (max-width: 960px) {

}
