.v-card {
  border: 1em solid white;
}

.v-image {
  height: 230px !important;
}

.card-content {
  margin: 1.2em 0;
  padding: 0 .4em;
  height: 5em !important;
  overflow: hidden;
  overflow-y: auto;
}

.v-card__text h2 {
  margin: .7em 0;
  width: 100% !important;
}

// .media-content {
//   background-color: rgba(0, 0, 0, 0.1);
// }

.v-card__actions {
  padding: 0 0 1em 0 !important;
}

.v-btn {
  margin: 0 auto;
  width: 100%;
}

// /* media queries */
// @media (max-width: 399px) {
//   .container {
//     padding-bottom: 0 !important;
//   }

//   .card__actions {
//     padding: 0 !important;
//   }

//   .card-content {
//     height: 6em !important;
//   }
// }

// @media only screen and (max-width: 599px) {
//   .card__text {
//     padding: 0 .4em !important;
//   }
// }

// @media (min-width: 960px) and (max-width: 1020px) {
//   .card__text > h2 {
//     letter-spacing: 8px !important;
//   }
// }

// @media (max-width: 1263px) {
//   .card-content {
//     height: 6em !important;
//   }
// }
