.carousel-content {
  background-color: $parallax-filter;
  padding: 2em;
  height: 100%;

  h1, h2 {
    max-width: 900px;
  }

  .title {
    font-size: $font-48 !important;
    margin-bottom: .3em !important;
  }

  .subtitle {
    font-size: $font-36;
    color: $color-05;
    line-height: 110%;
  }
}

/* media queries */
@media (max-width: 1024px) {
  .v-carousel {
    height: 40rem !important;
  }

  .carousel-content {
    margin-top: -2.8em;

    h1.title, h2 {
      max-width: 600px;
      line-height: 100%;
    }

    h1.title {
      font-size: 3.5rem !important;
    }
  }
}

@media (max-width: 425px) {
  .v-carousel {
    height: 30rem !important;
  }

  .carousel-content {
    margin-top: -10rem;

    h1.title {
      max-width: 200px;
      font-size: $font-28 !important;
      line-height: 2.2rem;
    }

    h2 {
      display: none;
    }
  }
}
