form {
  padding: 2em;
}

h1 {
  margin: 0;
  width: 100% !important;
}

.header {
  background-color: lighten($color3, 6);
  padding: .3em 0 .5em 0 !important;
  color: white;
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}

.container {
  padding: 0 !important;
  border: 12px solid lighten($color3, 6);
  border-radius: 4px;
}

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes loader {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 960px) {
  .contact-form .container {
    border-width: 2px;
  }
}

// @media (max-width: 599px) {
//   .header {
//     padding: .2em !important;
//   }

//   .input-group {
//     padding-right: 0 !important;
//   }
// }

// @media (max-width: 415px) {
//   form {
//     padding: 2em 0 0;
//   }

//   .container {
//     border: 0;
//     border-radius: 0;
//   }
// }
