.v-parallax {
  height: 700px !important;
}

h1, h2 {
  max-width: 70%;
  margin: 0 auto;
  line-height: 100% !important;
}

h1 {
  color: $color-05;
}

/* media queries */
@media (max-width: 1024px) {
  .v-parallax {
    height: 500px !important;

    .parallax-content {
      > h1 {
        max-width: 600px;
        margin-top: 6rem;
        font-size: $font-48 !important;
        line-height: 3.5rem !important;
      }

      h2 {
        display: none;
      }
    }
  }
}

@media (max-width: 425px) {
  .v-parallax {
    height: 30rem !important;

    .parallax-content > h1 {
      line-height: 2.2rem !important;
      max-width: 300px;
      margin-top: 6rem;
      font-size: $font-28 !important;      
    }
  }
}
