.testimonial-quote {
  font-size: 1rem;
  width: 100%;

  &.group {
    // padding-left: 2em;
    padding-bottom: 3em;

    &.last {
      padding-bottom: 0;
    }
  }

  cite {
    color: $color7;
    display: block;
    font-size: 1em;

    span {
      font-weight: 700;
    }
  }

  blockquote {
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.4 !important;
    position: relative;

    p {
      color: $color7;

      &:first-child:before {
        content: '\201C';
        color: $color6;
        font-size: 7.5em;
        font-weight: 700;
        opacity: 0.5;
        position: absolute;
        top: -4.5rem;
        left: -2.5rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    padding-right: 1.8em !important;

    h1 {
      margin: 2rem 0 3.5rem;
    }

    .testimonial-quote {
      padding-left: 1.5rem;
    }
  }
}

// @media (max-width: 600px) {
//   .container {
//     width: 100%;
//     margin-left: 0 !important;
//     padding: 0 !important;
//   }
// }
