<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /projects/cleaning-service
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>