h1, h2 {
  padding-bottom: .5em;
  text-transform: uppercase;
}

.display-1 {
  letter-spacing: -2px;
}

.application a {
  color: inherit !important;
}

.container {
  padding: 0 !important;
  margin: 0 auto;
}

.theme--light .toolbar {
  background-color: transparent;
}

.toolbar__items {
  height: 1.8em;
  background-color: none;
}

.card__text {
  padding: 0;
}

.primary-title {
  color: $color-03;
  margin-bottom: 3rem;
  width: 100%;

  &:after {
    content: "";
    display: block;
    width: 45px;
    height: 4px;
    background-color: $color-03;
    margin-top: .4em;
  }
}

.secondary-title {
  margin-bottom: .6em;
  color: $color-03;
  width: 100%;
}

.card-title {
  padding: 12px 0 6px 0;
  color: $color-06;
  font-size: $font-24 !important;
  letter-spacing: -1px !important;

  > span {
    color: lighten($color-01, 40);
    letter-spacing: 1px !important;
  }
}

.container {
  max-width: 1200px;
  position: relative;
}

.v-parallax__content {
  background-color: $parallax-filter;
}

.v-parallax__image {
  transform: translate(-50%, 50px) !important;
}

.v-card__text {
  padding: 0;
}

.v-responsive__content {
  background: rgba($color-03, 0.4);
}

.v-list__tile {
  padding-left: 10px;
}

/* media queries */
@media (max-width: 1300px) {
  .container {
    max-width: 100% !important;
  }

  .about, .services, .contact {
    margin-top: 0 !important;
    padding: 0 1rem !important; 
  }

  h1 {
    padding-bottom: 0;
    margin: 0;
  }
}

@media (max-width: 960px) {
  body {
    font-size: $font-20;
  }

  .v-list__tile--avatar {
    height: 5rem;
  }
}

@media (max-width: 415px) {
  body {
    font-size: $font-16;
  }

  h1.display-1, .primary-title {
    font-size: $font-32 !important;
  }
}
