@import url('https://fonts.googleapis.com/css?family=Roboto:100');

.primary-title {
  color: $color3;
  margin-bottom: 3rem;
  width: 100%;

  &:after {
    content: "";
    display: block;
    width: 45px;
    height: 4px;
    background-color: $color3;
    margin-top: .4em;
  }
}

.secondary-title {
  text-align: center;
  margin-bottom: .6em;
  color: $color3;
  width: 100%;
}

.card-title {
  padding: 12px 0 6px 0;
  color: #2196f3;
  font-weight: bold;
  font-size: 24px !important;
  letter-spacing: -1px !important;

  > span {
    color: #555;
    letter-spacing: 1px !important;
  }
}

.container {
  max-width: 1200px;
}

.v-parallax__content {
  background: rgba(0, 0, 200, 0.25);
}

.v-parallax__image {
  transform: translate(-50%, 50px) !important;
}

.v-card__text {
  padding: 0;
}

.v-responsive__content {
  background: rgba(0, 0, 200, 0.25);
}
