$color-01: #000;
$color-02: #fff;
$color-03: #343a40;
$color-04: #daa520;
$color-05: gold;
$color-06: #2196f3;
$color-07: #75808a;
$color-08: #ccc;
$color-09: #fafafa; // not used
$color-10: #233238;
$color-11: #1b272b;

$parallax-filter: rgba($color-10, 0.2);
