$color1: #000;
$color2: #fff;
$color3: #343a40;
$color4: #daa520;
$color5: gold;
$color6: #2196f3;
$color7: #75808a;
$color8: #ccc;
$color9: #fafafa;
$color10: #233238;
$color11: #2ba044;
$color12: green;

$parallax-filter: rgba(indigo, 0.2);